﻿@model Evaluacionn.Models.Vinculacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vinculacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name_vinculacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_vinculacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VinculacionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
